/* 
Project : One Page
Author  : Dilara Özdemir
Date    : 14/June/2023
Version : v.1
*/


/* #############################################*/
/*Root*/
:root{
  --templateBgColor:rgb(43,43,43);
}



/* #############################################*/
/*Common Property*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  font-size:20px;

}

body{
  font-family: 'Mulish', sans-serif;
  line-height: 1.2;
  position:relative;
}

a{
  text-decoration: none;

}
ul{
  list-style: none;
}

img{
  width: 100%;
  height: auto;
}

img:hover{
  opacity: 0.98;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.8);
  transition: all 2s;
  cursor: pointer;
}


i{
  font-size: 1.5rem;
}

.my_clearfix::after{
  content:"";
  display: block;
  clear: both;
}

/* my speciL Size */
.fSize1{
  font-size: 1rem;
}

.fSize2{
  font-size: 2rem;
}

.fSize3{
  font-size: 3rem;
}

.fSize4{
  font-size: 4rem;
}

/* Line Clmap */

.line-clamp5{
  display: -webkit-box;  /* diğer browserlarda da çalışsın diye */
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.line-clamp8{
  display: -webkit-box;  
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp5{
  display: -webkit-box; 
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/*Navbar*/
.dark_mode{
  background-color: var(--templateBgColor);
  color: #fff;
}



/* #############################################*/
/*Header*/
header{
  background-image: url("./img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  height: 80vh;
  padding-top:2rem;
}

/* Footer */

footer{
  min-height: 15rem;
  width: auto;
  color:white;

}

/* Back Top */
#back_top{
position:fixed;
right: 0;
bottom: 0;
}

#back_top:hover{
  opacity: 0.8;

}

